                       /* HEADER BAR  */
.bg-color{ 
    background-color: #292929;
}
.brand-name-header, .menu-name{
    color: white;
}
.brand-name-header:hover, .menu-name:hover{
    color: #FF7900;
    transition: .4s;
}
.brand-name-header{
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
}
.menu-name{
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
}
                        /* MAIN BODY */
.row-main{
    /* border: 2px solid black; */
    margin-top: 130px;
    margin-bottom: 180px;
}
.col-name, .col-search{
    /* border: 2px solid cornflowerblue */
}
.col-name{
    /* margin-left: -60px; */
    padding-left: 50px;
}
.col-search{
    /* margin-left: 60px; */
    padding-right: 40px;
    padding-left: 40px;
}
.brand-name-main{
    font-family: 'Cairo', sans-serif;
    color: #ff7900;
    font-size: 60px;
}
.brand-tag-main{
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    margin-bottom: 25px;
}
.brand-label-main{
    font-family: 'Montserrat', sans-serif;
    color: #ff7900;
    font-size: 20px;
}
.btn-outline{
    color: #FF7900;
    border: 1px solid #FF7900;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.btn-outline-icon{
    color: #FF7900;
    border: 1px solid #FF7900;
}
.btn-outline:hover, .btn-outline-icon:hover{
    color: white;
    background-color: #ff7900;
}

                        /* SERVICE WRAPPER*/

.service-container{
    background-color: #292929;
    border: 0px solid white;
}
.service{
    /* border: 1px solid tomato;*/
    padding-top: 35px;
    padding-bottom: 35px;
}
.service-dining, .service-online, .service-delivery{
    
    color: #FF7900;
    padding-top: 25px;
    padding-bottom: 40px;
    padding-left: 25px;
    padding-right: 25px;
}
.service-dining{
    
}
.service-delivery{
    
}
.service-online{
    
}
.service-dining-head, .service-delivery-head, .service-online-head{
    font-family: 'Cairo';
    font-size: 25px;
    padding-left: 15px;
    padding-top: 25px;
    padding-bottom: 12px;
}
.service-dining-tag, .service-delivery-tag, .service-online-tag{
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding-left: 20px;
    padding-right: 35px;
    font-size: 17px;
}
.btn-for-booking, .btn-for-menu{
    margin-left: 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 15px;
}
                         /* LOCATE */

.locate-row{
    /* border: 1px solid #FF7900; */
}
.locate-col-1, .locate-col-2{
    /* border: 1px dashed black; */
    
}
.locate-container{
    margin-top: 150px;
    margin-bottom: 150px;
}
.embed{
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 25px;
}
.locate-col-1-head{
    font-family: 'Cairo', sans-serif;
    padding-top: 20px;
    font-size: 30px;
}
.locate-col-1-tag{
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
}


                     /* FOOTER */

.row-footer{
    background-color: #292929;
    /* border: 2px solid white; */
}
.col-footer{
    /* border: 1px dashed grey; */
}
.footer-logo{
    margin-top: 70px;
    margin-bottom: 70px;
    /* margin-left: 50px;
    margin-right: 50px; */
}
.footer-social, .footer-contact, .footer-about{
    color: #FF7900;
    margin-top: 50px;
    margin-bottom: 25px;
    font-family: 'Cairo';
    font-size: 24px;
}
.social-link, .contact-link{
    font-size: 15px;
    margin-bottom: 13px;
    font-family: 'Montserrat', sans-serif;
}
.reddit{
    margin-bottom: 40px;
}
.social-link > a, .contact-link > a{
    color: white;
    text-decoration: none;
}
.footer-about-head{
    font-size: 23px;
    color: white;
    font-family: 'Montserrat', sans-serif;

}
.footer-about-tag{
    font-size: 15px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding-right: 90px;
}
                /*----END OF MAIN-PAGE-----*/
                /*-------------------------*/
                /* START OF MAIN-MENU PAGE */

.main-menu-text-head{
    color: #ff7900;
    font-size: 40px;
    font-family: 'Cairo';
    margin-top: 20px;
}
.main-menu-text-tag{
    font-size: 25px;
    font-family: 'Dosis';
    color: black;
    margin-top: -8px;
    margin-bottom: 20px;
}
.likhit-head{
    font-size: 40px;
    font-family: 'Cairo';
    color: #ff7900;
    margin-top: 20px;
}
.likhit-tag{
    font-family: 'Dosis', sans-serif;
    font-size: 25px;
    margin-top: -10px;
    margin-bottom: 30px;
}
.drawing-row{
    margin-bottom: 40px;
}
.drawing-col{
    margin-bottom: 30px;
}

/* MEDIA QUERY */


/* FOR SCREEN > 1200px*/
@media (min-width: 1200px){
    
}
/* FOR SCREEN BETWEEN 992 AND 1199 */
@media (max-width: 1199px) and (min-width: 992px){
    
}
/* FOR SCREEN BETWEEN 991 AND 768 */
@media (max-width: 991px) and (min-width: 768px){
    .row-main{
        margin-top: 70px;
    }
    .col-name{
        margin-bottom: 140px;
    }
    .col-search{

    }
}
/* FOR SCREEN BETWEEN 767 AND 576 */
@media (max-width: 767px) and (min-width: 576px) {
    .row-main{
        margin-top: 60px;
    }
    .col-name{
        margin-bottom: 100px;
    }
    .col-search{

    }
    .footer-logo{
        display: none;
    }
}
/* FOR SCREEN BETWEEN 575 AND 0 */
@media(max-width: 575px){
    .row-main{
        margin-top: 60px;
    }
    .col-name{
        margin-bottom: 100px;
        padding-left: 10px;
    }
    .col-search{

    }
    .brand-name-main{
        font-size: 40px;
    }
    .brand-tag-main{
        font-size: 20px;
    }
    .brand-name-header{
        font-size: 22px;
    }
    .btn-outline{
        font-size: 17px;
    }
    .brand-label-main{
        font-size: 17px;
    }
    .col-search{
        padding-right: 15px;
        padding-left: 15px;
    }
    .service-dining, .service-online, .service-delivery{
        padding-left: 0px;
    }
    .service-dining-tag, .service-online-tag, .service-delivery-tag{
        font-size: 15px;
    }
    .locate-container{
        margin-top: 60px;
    }
    .footer-logo{
        display: none;
    }
    .service-dining, .service-delivery, .service-online{
        margin-bottom: -20px;
    }
    .col-footer{
        margin-top: -16px;
        margin-bottom: 0px;
    }
    .likhit-head{
        font-size: 30px;
    }
    .likhit-tag{
        font-size: 20px;
    }
}

/* background-color: white;
    margin-right: 90px;
    height: 2px;
    border-radius: 20px;
    margin-top: -11px; */